#grey {
    width: 1000px;
    height: 900px;
    background-color: grey;
}
#green1 {
    width: 200px;
    height: 200px;
    background-color: green;
    text-align: center;

}
#yellow {
    width: 700px;
    height: 500px;
    background-color: yellow;
    margin-left: 10px;
    margin-top: 80px;
    display: inline-block;
    float: left;
}
#yellow1 {
    width: 200px;
    height: 500px;
    background-color: yellow;
    margin-top: 80px;
    display: inline-block;
    float: right;
    margin-right: 10px;
}
#green {
    text-align: center;
    width: 98%;
    height: 130px;
    background-color: green;
    display: block;
    margin-left: 10px;
}
#flower {
    width: 300px;
    height: 300px;
    margin-left: 200px;
    margin-top: 100px;
    text-align: center;
}
#flower1 {
    width: 150px;
    height: 300px;
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
}
ul, li, a {
    text-decoration: none;
    list-style: none;
    color: black;
    text-align: center;
    margin-right: 15px;
}