#red {
    width: 600px;
    height: 600px;
    background-color: red;
}

#yellow {
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: inline-block;
}
#orange {
    background-color: orange;
    width: 200px;
    height: 200px;
    display: inline-block;
}