body {
    background-color: #06141F;
}
#main {
    display: flex;
    justify-content: center;
    background-color: #06141F;
    width: 100%;
    height: 950px;
}
#f1 {
    height: 900px;
    width: 500px;
    position: absolute;
}
.inner {
    width: 400px;
    height: 900px;
    margin-top: 55px;
    text-align: center;
}
.inner-in-main {
    position: absolute;
    top: -900px;
    height: 900px;
    width: 385px;
    background-color: peachpuff;
    text-align: center;
}
.word {
    font-size: 50px;
    margin-top: 300px;
    color: #06141F;
    font-weight: bold;
}
.word1 {
    text-align: center;
    margin-top: 350px;
    margin-right: 30px;
    font-size: 15px;
}
#f3 {
    font-weight: bold;
    font-size: 40px;
    color: red;
    text-decoration: underline;
    margin-top: 50px;
}
#f4 {
    font-size: 40px;
    margin-top: 205px;
    color: #06141F;
    font-weight: bold;
}
#f5 {
    text-align: center;
    margin-top: 350px;
}
/*Правила для анимации внешних блоков*/
#a1 {
    background-color: yellow;
    background-image: url("../img/img1.PNG");
}
#a2 {
    background-color: orange;
    background-image: url("../img/img2.PNG");
}
#a3 {
    background-color: darkblue;
    background-image: url("../img/img3.PNG");
}
#a4 {
    background-color: chocolate;
    background-image: url("../img/img4.PNG");
}
#a5 {
    background-color: darkorchid;
    background-image: url("../img/img5.PNG");
}
#a6 {
    background-color: darkslategray;
    background-image: url("../img/img5.PNG");
}

#a1:hover {
    background-color: black;
    transition: 1s;
}
#a2:hover {
    background-color: black;
    transition: 1s;
}
#a3:hover {
    background-color: black;
    transition: 1s;
}
#a4:hover {
    background-color: black;
    transition: 1s;
}
#a5:hover {
    background-color: black;
    transition: 1s;
}
#a6:hover {
    background-color: black;
    transition: 1s;
}

/*Правила для анимации внутренних блоков*/
#a1:hover #element-in-inner1 {
    top: 63px;
    transition: 1s;
}
#a2:hover #element-in-inner2 {
    top: 63px;
    transition: 1s;
}
#a3:hover #element-in-inner3 {
    top: 63px;
    transition: 1s;
}
#a4:hover #element-in-inner4 {
    top: 63px;
    transition: 1s;
}
#a5:hover #element-in-inner5 {
    top: 63px;
    transition: 1s;
}
#word2:hover {
    color: red;
    transition: 0.5s;
}
#word3:hover {
    color: red;
    transition: 0.5s;
}
#word4:hover {
    color: red;
    transition: 0.5s;
}
#word5:hover {
    color: red;
    transition: 0.5s;
}
#word6:hover {
    color: red;
    transition: 0.5s;
}
#word7:hover {
    color: red;
    transition: 0.5s;
}
#word8:hover {
     color: red;
     transition: 0.5s;
 }
#word9:hover {
    color: red;
    transition: 0.5s;
}
a {
    text-decoration: none;
    color: black;
}